@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  text-transform: capitalize;
}

p {
  line-height: 1.5;
}

.card {
  max-width: 100%;
  margin: 5px;
  //   height: fit-content;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  min-height: 600px;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
    transform: scale(1.05);

    .card-header {
      h3 {
        transition: color 0.3s;
        color: royalblue;
      }
    }
  }

  .card-hero {
    img {
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .card-header {
    padding: 8px 16px;
  }

  .card-body {
    padding: 8px 16px;
  }

  .card-footer {
    padding: 8px 16px 16px 16px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
    flex-grow: 1;
    .footer-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    }
    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
}
// }

.muted {
  color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1100px) {
  .cards {
    .card {
      max-width: 280px;
    }
  }
}

@media only screen and (max-width: 920px) {
  .cards {
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;
    .card {
      max-width: 400px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .cards {
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;
    .card {
      max-width: 320px;
    }
  }
}
